.assembleTable th{
    text-align: center;
}
label{
    height: 40px;
    line-height: 40px;
}
.myInput{
    height: 40px;!important;
}
.col-xs-6 {
    padding-right: 0;
}
.col-xs-8 {
    padding-right: 0;
}
.col-xs-1 {
    padding-right: 0;
    text-align: right;
}
.myBtn{
    text-align: right;
}
#myTbody tr td{
    text-align: center;
}
.myDelete{
    cursor: pointer;
    color: red;

}
.PinTuanTime{
    padding-left: 0;
}
#myID{
    padding-left: 0;
}